# datasets - noted in DATAINFO.md where to obtain
loc-gowalla_*
userdata/
data/

# generated png
*.png


# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# python generated
*.py[cod]
