body {
  background-image: url(../../assets/wavegrid.png);
  background-position: initial initial;
  background-repeat: initial initial; }

#map-canvas {
  width: 100%;
  height: 400px;
  margin: 0px; }

.axis text {
  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px; }
